<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ATN Company Management</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <center>

        <div id="container">
            <br>
            <h1>ATN Toys</h1>
            <h3>Managerment Page</h3>
            <br><br>

            <a href="/employee">
                <h3>Employee management</h1>
            </a>
            <br>

            <a href="/product">
                <h3>Product management</h1>
            </a>
            <br><br>

        </div>

    </center>
</body>
</html>